* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    color: #222;
}

/** Cabecera de la aplicación **/
h1 {
	display: block;
    font-size: 2em;
    width: 100%;
    background: #BFBFBF;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
}
.ui-loader {
	display: none;
}

#dia-a-mostrar-button span {
	display: none;
}
.ui-select {
	width: 50%;
	display: inline-block;
}
#dia-a-mostrar-button {
	display: inline;
}
#dia-a-mostrar {
	font-size: 1.5em;
	display: inline-block;
}
#hora,
#fecha{
	display: inline-block;
}
#fecha {
	width: 25%;
	text-align: center;
}
#hora {
	width: 20%;
	text-align: right;
}

.tabla_horario {
	display: none;
}

table{
	border-collapse: collapse;
	font-size: 1.5em;
	width: 100%;
}
td, th {
	text-align: center;
	border: 1px solid #AAA;
	margin: 0;
	padding: 5px;
}
td div {
	border-top: 3px dashed RGBA(0,0,0,0.3);
	margin-top: 5px;
	padding: 10px;
	font-size: 0.7em;
	color: #444;
}
.grupo {
	padding-left: 5px;
	float: left;
}
.lugar {
	padding-right: 5px;
	float: right;
}
sup {
	font-size: 0.7em;
}
tr:nth-child(even) {background: #FFF}
tbody tr:nth-child(odd) {background: #CCC}

tr.receso{
	background: #4FE148;
}
tr.libre,
tr.apoyo {
	background: #E8E872 !important;
}

tr.activa:nth-child(even) {background: #1293FF}
tbody tr.activa:nth-child(odd) {background: #017CE4}
